h2, h3, h4, h5, h6 {
		font-family: cursive;
		color: rgb(0, 10, 80);
	}
	
li {
		font-family: cursive;
		color: rgb(0, 10, 70);
		
	
	}

table {
	
		font-family: cursive;
		color: rgb(0, 10, 50);
		background-color: rgb(180, 180, 210);
}

body {
				background-color: rgb(200, 200, 210); 
			}

caption {
	font-size: 30px;
}