<h1>Formatting Demo Page</h1>
<p>This simple page demonstrates the formatting tags covered in the lesson</p>
<h2>Bold and Strong</h2>
<p><b>This is bold text</b></p>
<p>This strong tag has the same visual effect as the bold tag but the strong tag also marks the enclosed text as more important.</p>
<p><strong>This is what strong text looks like</strong></p>
<h2>Italic and Emphasis</h2>
<p><i>This is text in italics</i></p>
<p>The emphasis tag has the same visual effect as the italic tag but the emphasis tag also marks the enclosed text as more important.</p>
<p><em>This is what emphasized text looks like</em></p>
<h2>Subscript and Superscript</h2>
<p>Subscript text looks like this: <sub>This is subscript</sub></p>
<p>Superscript text looks like this: <sup>This is superscript</sup></p>
<h2>Inserted and Deleted</h2>
<p>Inserted text looks like this: <ins>This is inserted</ins></p>
<p>Deleted text looks like this: <del>This is deleted</de;></p>
<h2>Marked</h2>
<p>Marked text looks like this: <mark>This is marked</mark></p>
<h2>Blockquote</h2>
<p>Block quoted text looks like this: <blockquote>This is the blockquote</blockquote></p>
<h2>Code</h2>
<p>Computercode text looks like this: <code>This is code</code></p>