
#restaurantHeader {
			font-family: "Almendra Regular", cursive;
			text-align: center;
			background-color: rgb(220, 220, 100);
			color: rgb(150, 0, 0);
			padding-top: 2%;
			padding-bottom: 2%;
			font-size: 35px;
		}

#restaurantFooter {
			background-color: rgb(200, 200, 210);
			color: rgb(150, 0, 0);
			font-family: cursive;
			text-align: center;
			padding-top: 1%;
			padding-bottom: 3%;
		}
		
#restaurantDirectory {
			background-color: rgb(200, 200, 210);
			font-size: 15px;
			padding-top: 1%;
			padding-bottom: 1%;
		}

#restaurantDirectoryOptions {
			font-family: cursive;
			width: 30%;
		}
		
@font-face {
			font-family: "Almendra Regular";
			font-style: normal;
			font-weight: 400;
			src: url("Almendra-Regular.otf");
}