

h2,  h4, h5, h6 {
		font-family: cursive;
		color: rgb(0, 10, 80);
	}
	
body {
				background-color: rgb(200, 200, 210); 
			}

table {
	
		font-family: cursive;
		color: rgb(0, 10, 50);
		background-color: rgb(150, 150, 210);
}



caption {
	font-size: 30px;
}

@font-face {
			font-family: "Almendra Regular";
			font-style: normal;
			font-weight: 400;
			src: url("Almendra-Regular.otf");
}

a {
	text-decoration: none;
}

a:hover{
	text-decoration: underline;
	background-color:green;
}