<head>
	<title>B.W.A. - Menu</title>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	<link rel="stylesheet" href="css/bootstrap.min.css">
	<link href = "restaurantStylesv5.css" rel = "stylesheet" type = "text/css">
	<style>
		#menuPageMain {
			background-color: rgb(220, 220, 200);
		}
		
		#menuListFood {
			text-align: center;
			font-family: cursive;
			width: 100%;
		}
		
		#menuListBeverages {
			text-align: center;
			font-family: cursive;
			width: 100%;
			
		}
		
		.menuItem {
			color: rgb(150, 0, 0);
			font-size: 25px;
			text-align: center;
		}
		.menuItemDescription {
			color: blue;
			font-size: 18px;
		}
	</style>
</head>
<body>
	<div class = "container">
		<div class = "row" id = "restaurantHeader">
			<h1>Burgers With Attitude</h1>
			<div class = "jumbotron">
				<h2>McDonaldtown Location Opening Summer 2016!</h2>
			</div>
		</div>
		<div class = "row" id = "restaurantDirectory">
			<ul class="nav nav-pills">
					<li><a href = "restaurantlabHomev5.html"><span class="glyphicon glyphicon-home"></span></a></li>
					<li><a href = "restaurantlabMenuv5.html">Menu</a></li>
					<li><a href = "restaurantlabContactUsv5.html">Contact Us</a></li>
				</ul>
		</div>
		<div id = "menuPageMain" class = "row">
			<div id = "menuListFood">
				<div class = "row">
					<div class = "menuItem col-md-4 col-xs-12">Burger and Fries<br><span class = "menuItemDescription">An American Classic!<br>Your choice - with or without cheese<br>Pickle, onion, tomato, and lettuce<br>Served with out famous thick cut<br>french fries<br>$7.95</span></div>
					<div class = "menuItem col-md-4 col-xs-12">Hot Dog and Chips<br><span class = "menuItemDescription">A Summer Classic!<br>Your choice - white or wheat bun<br>Relish, mustard, and ketchup <br>Served with our house-made chips<br>$7.95</span></div>
					<div class = "menuItem col-md-4 col-xs-12">Italian Sausage and Peppers<br><span class = "menuItemDescription">An All-Time Favourite!<br>Your choice - mild or spicy <br>Cole Slaw <br>Served with garlic mashers<br>$10.95</span></div>
				</div>
				<div class = "row">
					<div class = "menuItem col-md-4 col-xs-12">Tenderloin Sandwich and Chips<br><span class = "menuItemDescription">Really Hits the Spot!<br>Plain or Sesame Seed Bun<br>Pickle, onion, tomato, and lettuce<br>Served with our house-made chips<br>$8.95</span></div>
					<div class = "menuItem col-md-4 col-xs-12">House Salad<br><span class = "menuItemDescription">On the Lighter Side<br>Your choice - with or without cheese<br>Iceberg lettuce, tomatos, peppers<br>Thousand Island or Ranch Dressing<br> Served with a dinner roll<br>$6.95</span></div>
					<div class = "menuItem col-md-4 col-xs-12">Brisket Sandwich and Fries<br><span class = "menuItemDescription">A Taste of Texas!<br>Smoked Brisket on thick-cut Texas Toast<br>Cole Slaw<br>Served with our famous thick-cut<br>french fries<br>$7.95</span></div>	
				</div>
			</div>
			<div  id = "menuListBeverages">
				<div class = "row">
					<div class = "menuItem col-xs-12">Beverages</div>
				</div>
				<div class = "row">
					<div class = "menuItemDescription col-xs-12">Root Beer - $3.00</div>
				</div>
				<div class = "row">
					<div class = "menuItemDescription col-xs-12">Bottled Water - $1.25</div>
				</div>
				<div class = "row">
					<div class = "menuItemDescription col-xs-12">Lemonade - $1.00</div>
				</div>
				<div class = "row">
					<div class = "menuItemDescription col-xs-12">Iced Tea - $1.25</div>
				</div>
		</div>
	</div>
	<div class = "row" id = "restaurantFooter">
		<p>123 Burger St, Burgerton, CO 80112<br>303-555-1234</p>
	</div>
</body>
</html>