
#restaurantHeader {
			font-family: "Almendra Regular", cursive;
			text-align: center;
			background-color: rgb(220, 220, 100);
			color: rgb(150, 0, 0);
			padding-top: 2%;
			padding-bottom: 2px;
			font-size: 40px;
		}

#restaurantFooter {
			background-color: rgb(200, 200, 210);
			color: rgb(150, 0, 0);
			font-family: cursive;
			text-align: center;
			padding-top: 1%;
			padding-bottom: 3%;
		}
		
#restaurantDirectory {
			background-color: rgb(200, 200, 210);
			font-size: 15px;
			padding-top: 1%;
			padding-bottom: 1%;
		}

#restaurantDirectoryOptions {
			font-family: cursive;
			width: 30%;
		}
#homeCarousel {
				font-family: "Almendra Regular", cursive;
				
				background-color: rgb(225, 225, 170);
				color: rgb(150, 0, 0);
				height: 200px;
				
				padding: 50px;
			}
			
			.carousel-caption {
				top: 0;
				bottom: auto;
			}
		
@font-face {
			font-family: "Almendra Regular";
			font-style: normal;
			font-weight: 400;
			src: url("Almendra-Regular.otf");
}
@font-face {
			font-family: "Glyphicons";
			font-style: normal;
			font-weight: 400;
			src: url(fonts/glyphicons-halflings-regular.woff");
}
a {
	color: rgb(150, 0, 0);
}
a:active {
	text-decoration: none;
}
a:visited {
	color: rgb(80, 80, 80);
}

a:hover {
	color: blue;
	font-weight: bold;
}
